body {
  font-size: 16px;
  font-family: 'montserrat', sans-serif;
  background: white;
}

@media screen and (min-width:750px) {
  .container {
    display:flex;
    flex-wrap: wrap;
  }

  .project {
    width:32%;
    margin: 5px;
  }
}

@media screen and (min-width:450px) {
  p {
    word-wrap: break-word;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width:749px) {
  .project {
    width:100%;
    margin: 5px;
  }

}

header {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  min-height: 120px;
}

.logo {
  width:30%;
  order:1;
}

.udacity {
  width: 133px;
  height:100px;
  justify-content: flex-start;
  margin-top: 1px;
}

.header-title {
  width: 70%;
  order: 2;
  justify-content: flex-end;
}

.name, .title {
  text-align: right;
  margin-right: 5px;
}

.intro {
  text-align: center;
}

.welcome {
  background: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
  text-transform: uppercase;
  width:100%;
  color:white;
  min-height: 50vh;
  margin-bottom: 1em;
  /* places text in the center of the image*/
  text-align: center;
  line-height: 50vh;

  /* Helps creates the parallax scrolling effect */
  background-size: cover;
}

.about-me {
  width:100%;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

.work {
  width:100%;
  height: auto;
}

.pixel,
.trading-card,
.memory-game {
  width:230px;
  height:100px;
}

.contact {
  width:100%;
  text-align: center;
}

footer {
  width:100%;
}

a:visited {
  color:#33b5e5;
}
